section {
  padding: 25px 0;
}

footer {
  text-align: center;
  p {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 50px;
  }
}

ul {
  list-style-type: none;
}

.bulleted-list {
  list-style-type: disc;
}

@media (min-width: 800px) {
  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  li {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  h2 {
    font-size: 2rem;
  }
}
